<div class="container">


    <div class="container ">
        <h3 class="decoracionTitulo">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            LISTADO EMPLEADOS
        </h3>
    </div>

    <div *ngIf="listaEmpleado.length === 0" class="container center top40">
        <h4>Sin información para mostrar.</h4>
    </div>

    <div *ngIf="listaEmpleado.length > 0" class="table-responsive">


        <form class="top20">
            <div class="form-row tamanoDiv">
                <div class="form-group col-md-8"></div>
                <div class="form-group col-md-4">
                    <input [(ngModel)]="buscarPorId" name="buscarPorId" class="form-control mr-sm-2" type="search"
                        placeholder="Buscar por documento" aria-label="Search">
                </div>
            </div>
        </form>

        <table class="table top20 ">
            <thead class="thead-light table-hover">
                <tr>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>Salario</th>
                    <th>Correo</th>
                    <th>Departamento</th>
                    <th>Activo</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of listaEmpleado | dataFilter : buscarPorId: 'numerodocumento'  | paginate: { itemsPerPage: 5, currentPage:  c, id:'empleado' }">
                    <td>{{item[0].numerodocumento}}</td>
                    <td>{{item[0].nombre}}</td>
                    <td>{{item[0].apellidos}}</td>
                    <td>{{item[0].telefono}}</td>
                    <td>{{item[0].salario || 0 | currency:'COP':'symbol-narrow':'0.0-0'}}</td>
                    <td>{{item[0].correo}}</td>
                    <td>{{item[0].departamento.nombre}}</td>
                    <td>{{item[0].activo == true ? 'Si': 'No'}}</td>
                    <td>
                        <button type="button" (click)="irModificar(item[0])"
                            class="btn btn-primary btn-sm">Modificar</button>

                        <button type="button" (click)="verFunciones(item[1])"
                            class="btn btn-secondary btn-sm">Funciones</button>
                    </td>


                </tr>
            </tbody>
        </table>

        <pagination-controls autoHide="true" class="center" previousLabel="Anterior" nextLabel="Siguiente" id="empleado"
            (pageChange)="c=$event;"></pagination-controls>

    </div>


    <div class="top40 bottom40">

        <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="isModificar">
            <li class="nav-item puntero" [class.active]="itemSelect===1">
                <a class="nav-link active" (click)="tabOpcion(1)" aria-controls="one" role="tab" data-toggle="tab">
                    CREAR EMPLEADO</a>
            </li>

            <li class="nav-item puntero" [class.active]="itemSelect===2">
                <a class="nav-link active" (click)="tabOpcion(2)" aria-controls="one" role="tab"
                    data-toggle="tab">ASOCIAR FUNCIONES</a>
            </li>
        </ul>

        <div id="opciones" class="top40" id="formInfo">
            <div *ngIf="itemSelect === 1">


                <div class="container">
                    <h3 class="decoracionTitulo ">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        CREAR EMPLEADO
                    </h3>
                </div>

                <form class="top20">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="numerodocumento">Numero de Documento(*):</label>
                            <input type="number" [disabled]="isModificar" [(ngModel)]="dataEmpleado.numerodocumento"
                                class="form-control" name="numerodocumento" id="numerodocumento"
                                placeholder="Numero de Documento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre(*)</label>
                            <input type="text" maxlength="40" [(ngModel)]="dataEmpleado.nombre" name="nombre" class="form-control"
                                id="nombre" placeholder="Nombre">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="apellido">Apellidos(*):</label>
                            <input type="text" maxlength="40" [(ngModel)]="dataEmpleado.apellidos" class="form-control"
                                name="apellidos" id="apellidos" placeholder="Apellidos">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono">Telefono(*)</label>
                            <input type="text" maxlength="10" [(ngModel)]="dataEmpleado.telefono" name="Telefono"
                                class="form-control" id="telefono" placeholder="Telefono">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="salario">Salario(*):</label>
                            <input type="number" [(ngModel)]="dataEmpleado.salario" class="form-control" name="salario"
                                id="salario" placeholder="Salario">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="correo">Correo(*):</label>
                            <input type="email"  maxlength="30" [(ngModel)]="dataEmpleado.correo" name="correo" class="form-control"
                                id="correo" placeholder="Correo">
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="departamento">Departamento(*):</label>
                            <select name="departamento" [(ngModel)]="dataEmpleado.departamento.codigo"
                                (blur)="confirmarDepartamento()" id="codigo" class="form-control">
                                <option *ngFor="let item of listaDepartamentos; let i = index" [value]="item.codigo"
                                    selected="{{ i === 1 ? 'selected' : ''}}">{{item.nombre}} </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="activo">Activo:</label>
                            <select id="activo" [(ngModel)]="dataEmpleado.activo" name="activo" class="form-control">
                                <option value="true" selected>Si</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row top20">
                        <div class="form-group col-md-11">
                            <button type="button" *ngIf="!isModificar" (click)="agregarEmpleado()"
                                class="btn btn-outline-primary btn-block">AGREGAR
                                EMPLEADO</button>

                            <button type="button" *ngIf="isModificar" (click)="actualizarEmpleado()"
                                class="btn btn-outline-primary btn-block">MODIFICAR
                                EMPLEADO</button>
                        </div>
                        <div class="form-group col-md-1">
                            <button type="button" class="btn btn-outline-secondary" (click)="limpiar()">LIMPIAR</button>
                        </div>
                    </div>
                </form>
            </div>
            <div *ngIf="itemSelect === 2" class="top40">

                <div class="flex">

                    <div *ngIf="isLoader" class="loader "></div>

                </div>

                <div class="container">
                    <h3 class="decoracionTitulo ">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        AGREGAR FUNCION
                    </h3>
                </div>

                <form class="top40 bottom40 container">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="departamentoFuncion">Departamento:</label>
                            <input type="text" disabled="true" [value]="dataEmpleado.departamento.nombre"
                                class="form-control" name="departamentoFuncion" id="departamentoFuncion">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="funcionModel">Funciones(*):</label>
                            <select [(ngModel)]="funcionModel" name="funcionModel" id="funcionModel"
                                class="form-control">
                                <option *ngFor="let item of funciones; let i = index" [value]="item.id" 
                                selected="{{ i === 0 ? 'selected' : ''}}">
                                    {{item.nombre}}
                                 </option>
                            </select>
                        </div>

                    </div>

                    <div class="form-row top20">
                        <button type="button" (click)="asociarFunciones()" class="btn btn-outline-primary btn-block">
                            ASOCIAR FUNCION
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>