<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand puntero" [routerLink]="['']">
        <i class="fa fa-university" aria-hidden="true"></i>

        GETAPP
    </a>

    <ul class="nav justify-content-end">
        <li class="nav-item puntero" [routerLink]="['']">
            <a class="nav-link active colorWhite" >HOME</a>
        </li>
        <li class="nav-item puntero" [routerLink]="['/empleados']">
            <a class="nav-link colorWhite" >Empleados</a>
        </li>

    </ul>
</nav>