<div class="container">
    <div class=" ">
    

        <div class="table-responsive">

            <div class="container center bottom40">
                
                <h2> <i class="fa fa-address-card"></i> PROMEDIO POR DEPARTAMENTOS</h2>
            </div>

            <table class="table fondo" >
                <thead >
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Promedio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of departamentos">
                        <th scope="row">{{item[0].codigo}}</th>
                        <td>{{item[0].nombre}}</td>
                        <td>{{item[1] || 0 | number:'0.0-0'}}</td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="departamentos.length === 0" class="container center top40">
                <h4>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Sin información para mostrar.
                </h4>
            </div>
        </div>
    </div>
</div>




<!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item puntero" *ngFor="let item of menuOpciones" [class.active]="itemSelect===item.id">
        <a class="nav-link active" (click)="itemSelect=item.id" aria-controls="one" role="tab" data-toggle="tab">{{item.nombre}}</a>
    </li>
</ul>

<div id="opciones">
    <div *ngIf="itemSelect === 1" >
        1...

    </div>
    <div *ngIf="itemSelect === 2" >
        2...
    </div>
    <div *ngIf="itemSelect === 3">
        3...
    </div>
    <div *ngIf="itemSelect === 4">
        4...
    </div>
</div> -->