/* You can add global styles to this file, and also import other style files */

.top40 {
    margin-top: 40px;
}

.top20 {
    margin-top: 20px;
}

.puntero {
    cursor: pointer;
}

.decoracionTitulo {
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}

/* Eliminar flechas de campos numericos */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Scroll modificacion, tamano*/

*::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    background-color: #f5f5f5;
}


*::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.041);
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #002450;
}

.center{
    text-align: center;
}

.bottom40{
    margin-bottom: 40px;
}


.bottom20{
    margin-bottom: 20px;
}



.flex {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}



/*  loader  */
.loader {
    margin-top: 35px;
    text-align: center;
    border: 10px solid transparent;
    border-radius: 50%;
    border-top: 10px solid #005fff;
    border-bottom: 10px solid #005fff;
    width: 130px;
    height: 130px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}